@{
    
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Programador Junior: @ViewData["Nome"]</p>
<address>
    <strong>More information: </strong><a href="https://github.com/20samuel/SaleWebTest/blob/master/SaleWebMvc/Program.cs">GitHub</a>
</address>

